<p id="notice"><%= notice %></p>

<p>
  <strong>社团名称:</strong>
  <%= @club.club_name %>
</p>

<p>
  <strong>社团邮箱:</strong>
  <%= @club.club_email %>
</p>

<p>
  <strong>社团简介:</strong>
  <%= @club.club_brief %>
</p>

<p>
  <strong>申请时间:</strong>
  <%= @club.created_at.strftime ("%Y-%m-%d %H:%m") %>
</p>

<p>
  <strong>社长:</strong>
  <%= @club.get_real_name %>
</p>

<p>
  <strong>状态:</strong>
  审批中……请耐心等待……
</p>

<hr>

<% if current_user.user_id == YongHu.find_by(id:@club.yong_hu_id).user_id %>
  <%= link_to 'Edit', edit_club_path(@club) %>
<% end-%>

<% if current_user.chairman? || current_user.admin? %>
  <%= link_to "返回", clubs_club_active_path %>
<% else %>
  <%= link_to 'Back', clubs_path %>
<% end %>

