<%= form_for(:yong_hu) do |f| %>
  <% if yong_hu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(yong_hu.errors.count, "error") %> prohibited this yong_hu from being saved:</h2>

      <ul>
      <% yong_hu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :real_name %>
    <%= f.text_field :real_name %>
  </div>

  <div class="field">
    <%= f.label :sex %>
    <%= f.text_field :sex %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :birth %>
    <%= f.date_field :birth %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
