<!-- 获取用户是否为此社团点过赞，分别显示不同的图标 -->
<!-- 先判断当前是否有用户登录，在判断用户是否为此社团点过赞-->
<!-- <a>标签内再加上data-remote="true"，实现ajax功能，
      Ajax 是一种在无需重新加载整个网页的情况下，能够更新部分网页的技术。
      点完赞后我们还是想停留在当前页面位置，如果不使用ajax功能，用户点击点赞按钮，整个页面会刷新，影响体验。-->

<% if current_user && activity.get_thumb_info(session[:yong_hu_id]) %>
  <!--      当a标签中同时有href、onclick两个元素时，先执行onclick中的方法，再执行a标签，-->
  <!--      先执行onclick中的praiseReplay方法，将页面上的赞数减1（此时数据库里面的数据还没变），-->
  <!--      然后在通过a标签链接找到activities_controller中的create_thumb方法，-->
  <!--      通过 /<%#= act.id %>/0 这两个参数找到ActThumb表中的对应数据，将这条数据的is_thumb字段改为false-->
  <a data-remote="true" href="/activities/create_thumb/<%= activity.id %>/0" id="reduce" class="fa fa-thumbs-up" onclick="praiseReplay(this)">
    <%= "#{activity.get_thumbs}"%>
  </a>
<% elsif current_user%>
  <a data-remote="true" href="/activities/create_thumb/<%= activity.id %>/1" id="increase" class="fa fa-thumbs-o-up" onclick="praiseReplay(this)">
    <%= "#{activity.get_thumbs}"%>
  </a>
<% else %>
  <!-- 没有账户登录时的情况 -->
  <a data-remote="true" href="/users/sign_in" class="fa fa-thumbs-o-up" onclick="alert('您还未登录，请先登录')">
    <%= "#{activity.get_thumbs}"%>
  </a>
<%end%>

<!--  当点击点赞<a>标签，会调用js方法praiseReplay(oldTotal)，oldTotal代表点赞<a>标签。-->
<!--  如果oldTotal中的class元素为fa fa-thumbs-up(已点赞图标),说明当前用户已给该贴点过赞了,-->
<!--  本次点击是需要将赞取消,将class元素换成fa fa-thumbs-o-up(未点赞图标)，-->
<!--  将oldTotal里面的内容innerHTML(即当前点赞数)减1，将href元素中传递的is_thumb参数换成0，-->
<!--  这样在页面点赞数减1之后，后台数据库中的数据会和页面同步-->
<script type="text/javascript">
    function praiseReplay(oldTotal){
        if(oldTotal.className == "fa fa-thumbs-up")
        {
            oldTotal.className = "fa fa-thumbs-o-up";
            var oldValue = oldTotal.innerHTML;
            oldTotal.innerHTML = " " + (parseInt(oldValue) - 1);
            href = oldTotal.href
            oldTotal.href = href.substring(0, href.length - 1) + "0"
        }
        else
        {
            oldTotal.className = "fa fa-thumbs-up";
            var oldValue = oldTotal.innerHTML;
            oldTotal.innerHTML = " " + (parseInt(oldValue) + 1);
            href = oldTotal.href
            oldTotal.href = href.substring(0, href.length - 1) + "1"
        }
    }
</script>
