<div class="new-issue-form-container clearfix">
  <div class="new-issue-form clearfix">
    <%= form_for New.new, url: "/news/create" do |f| %>
      <%#= f.hidden_field session[:yong_hu_id] %>
      <dl class="form">
        <dt><%= f.label "标题" %></dt>
        <dd><%= f.text_field :title %></dd>
      </dl>
      <dl class="form">
        <dt><%= f.label "内容" %></dt>
        <dd><%= f.text_area :content %></dd>
      </dl>
      <dl class="form">
        <dt><%= f.label "附件" %></dt>
        <dt><%= f.file_field :file_url %></dt>
      </dl>
      <input type="submit" value="发布" class="submit-issue-button btn btn-primary">
    <% end %>
  </div>
</div>
